<!DOCTYPE html>
<html ng-app="searchApp">
	<head>
		<title>Test Project 01</title>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" type="text/css"/>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
		<link rel="stylesheet" href="css/custom.css" type="text/css"/>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="../bower_components/oauth-signature/dist/oauth-signature.js"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
		<script src="js/app.js"></script>

	</head>
	<body ng-controller="appCtrl">
		<div class="container">
			<div class="panel panel-primary">

				<div class="panel-heading">
			    	<div class="row">
			        	<div class="col-sm-6">
			            	<h3 class="panel-title padAdjust">Search Restaurants</h3>
			            </div>
			            <div class="col-sm-6">
			                   	<div class="input-group">
			                   		<input type="text" ng-model="searchInput" class="form-control" placeholder="ex. 'Pizza Hut' or 'pizza' ">
			                   		<div class="input-group-btn">
			                       		<button ng-Click="searchBiz()" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
			                   		</div>
			                   	</div>
			          	</div>
			      	</div>
			  	</div>
				<div class="panel-empty">

					<div id="map"></div>

				</div>

				<table class="table table-striped">
			    	<thead>
			    		<tr>
			    			<th>Business Name</th>
			    			<th>Address</th>
			    			<th>Rating</th>
			    			<th>
			    				<!--ng-click removeAllBiz-->
			    				<button ng-click="removeAllBiz()" class="btn btn-danger pull-right">
			    					<span>CLEAR ALL</span>
			    				</button>
			    			</th>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		<tr ng-repeat="biz in businesses"><!-- ng-repeat biz in businesses-->
			    			<td>{{biz.name}}</td>
			    			<td>{{biz.address}}</td>
			    			<td>{{biz.rating}}</td>
			    			<td>
			    				<!--ng-click removeBiz-->
			    				<button ng-click="removeBiz($index)" class="btn btn-danger pull-right">
			    					<span class="glyphicon glyphicon-remove"></span>
			    				</button>
			    			</td>

			    		</tr>
			    	</tbody>
				</table>
			</div><!--END PANEL-->
		</div><!--END CONTAINER-->
	</body>
</html>